.cardProperty {
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -400px;
}

.cardProperty:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.15, 1.15);
}
