.team {
  overflow: visible;
  position: relative;
}

.team-slider {
  overflow: hidden;
  padding-bottom: 100px;
}

.team-slider .slick-list {
  overflow: visible;
}

.team-slider .slick-arrow {
  border: 0;
  background: transparent;
  color: #008dec;
  position: absolute;
  bottom: 0;
  z-index: 1;
  font-size: 25px;
}

.team-slider .slick-arrow.slick-disabled {
  color: #86ceff;
}

.team-slider .prevArrow {
  left: 10px;
}

.team-slider .nextArrow {
  left: 50px;
}

.team-member {
  padding: 30px 45px;
  background: #fff;
  box-shadow: 0px 23px 43px 0px rgba(172, 189, 199, 0.49);
  margin: 0 20px;
}

@media (max-width: 1200px) {
  .team-member {
    padding: 30px;
  }
}

.team-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.team-bg-shape-1 {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: -1;
}

@media (max-width: 767px) {
  .team-bg-shape-1 {
    display: none;
  }
}

.team-bg-shape-2 {
  position: absolute;
  top: 100px;
  right: -5px;
  z-index: -1;
}

@media (max-width: 767px) {
  .team-bg-shape-2 {
    display: none;
  }
}

.team-bg-shape-3 {
  position: absolute;
  bottom: 20%;
  right: 40%;
  z-index: -1;
}

@media (max-width: 767px) {
  .team-bg-shape-3 {
    display: none;
  }
}

.team-bg-shape-4 {
  position: absolute;
  bottom: 20%;
  right: 180px;
  z-index: -1;
}

@media (max-width: 767px) {
  .team-bg-shape-4 {
    display: none;
  }
}