.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.output-text, .parsed-text {
    margin-top: 80px;
    margin-bottom: 20px;
}

.output-text, .parsed-text h4 {
    margin-bottom: 20px;
}

.parsed-text {
    width: 100% !important;
}