.navbar-light .navbar-nav .nav-link {
    color: #091337;
}

.navigation {
    transition: 0.3s ease;
}

.navbar {
    transition: 0.3s ease;
}

@media (max-width: 991px) {
    .navbar-collapse {
        padding-bottom: 20px;
    }
}

.nav-bg {
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 141, 236, 0.1);
}

.nav-bg .navbar {
    padding: 10px 0;
}

.nav-item {
    padding: 20px 10px;
}

@media (max-width: 991px) {
    .nav-item {
        padding: 0;
    }
}